<!DOCTYPE html>
<html data-ng-app="ticTacToe">
  <head>
    <title>TIC TAC TOE</title>
    <link rel="stylesheet" type="text/css" href="css/reset.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="vendor/angular-1.2.14/angular.min.js"></script>
    <script src="js/underscore.min.js"></script>
    <script src="js/tictactoe.js"></script>
    <script src="js/angular_tictactoe.js"></script>
  </head>
  <body ng-controller="gameController">
     <div id="game">
       <ul id="teams">
        <li ng-repeat="player in players" class="{{player.indicator}}">
          <img src="{{player.img_url}}">
          <h2>Team <span class="team">{{player.marker}}</span></h2>
          <h3 class="player">{{player.name}}</h3>
      </ul>
      <div id="board">
        <div ng-repeat="tile in board">
          <div id="tile{{tile.position}}" class="tile" ng-click="selectTile(tile)">
            <div class="boardTile">
              <img src={{tile.img_url}} ng-show="tile.img_url" />
            </div>
          </div>
        </div>
      </div>
      <div id="results" ng-show="endGame.show" >
        <h1>{{endGame.message}}</h1>
        <span class="image">
          <img src="{{endGame.url}}" />
        </span>
        <button ng-click="newGame()">Play Again</button>
      </div>
    </div>

  </body>
</html>


